body {
    font-family: 'Source Sans Pro', 'Helvetica Neue', Helvetica, Arial, sans-serif;
    font-size: 16px;
    font-weight: normal;
    background: url('/images/family.jpg');
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-position: center center;
}

.title {
    font-size: 2.5em;
    font-weight: 600;
    letter-spacing: .3em;
    margin: 0 0 .25em;
    text-align: center;
    text-indent: .3em;
    text-transform: uppercase;
    color: #204682
}

.subtitle {
    font-size: 1.5em;
    font-weight: 600;
    letter-spacing: .3em;
    margin: 0 0 .25em;
    text-align: center;
    text-indent: .3em;
    text-transform: uppercase;
    color: #204682
}

.withdrawal {
    color: crimson;
}

.deposit {
    color: limegreen;
}

.comments {
    font-style: italic;
    color: #828282;
    display: block;
    font-size: 12px;
}

/* Overrides to Bootstrap elements */
.form-group.required .control-label:before {
    content: "* ";
    color: red;
}
